<!-- Header -->
      <header id="header" class="skel-layers-fixed">
      <h1><a href="/">Pitt Progressives <span> &mdash; a YDSA Chapter.</span></a></h1> 
        <nav id="nav">
          <ul>
            <li><a href="/">Home</a></li>
            <li>
              <a href="{% link pages/about.md %}">About Us</a>

              <!-- <a href="/about" class="icon fa-angle-down">About Us</a> -->
              <!-- <ul>
                <li><a href="#">Committees</a></li>
                <li><a href="#">Bylaws</a></li>
                <li><a href="#">Structure</a></li>
                {% comment %}
                <li>
                  <a href="">a</a>
                  <ul><li><a href="#">b</a></li></ul>
                </li>
                {% endcomment %}
              </ul> -->
            </li>
            <li><a href="{% link pages/calendar.html %}">Calendar</a></li>
            <li><a href="{% link pages/statements.md %}">Statements</a></li>
            <li><a href="{% link pages/contact.md %}">Contact</a></li>
            <li>
              <a href="{% link pages/resources.md %}" class="icon fa-angle-down">Resources</a>
              <ul>
                <li><a href="{% link pages/drive.md %}">Drive</a></li>
                <li><a href="{% link pages/mailchimp-archive.md %}">Newsletter Archive</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </header>
