
<section>
  <h3>Magna Feugiat</h3>
  <p>Lorem ipsum aliqua anim proident cupidatat qui minim officia amet qui consectetur minim.</p>
</section>

<hr />
<a class="twitter-timeline" data-width="350" data-height="800" data-theme="light" href="https://twitter.com/PittYDSA?ref_src=twsrc%5Etfw">Tweets by PittYDSA</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<hr />
<section>
  <a href="#" class="image fit"><img src="images/pic02.jpg" alt="" /></a>
  <h3>Amet Lorem Tempus</h3>
  <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
  <footer>
    <ul class="actions">
      <li><a href="#" class="button small alt">Learn More</a></li>
    </ul>
  </footer>
</section>