---
---
<!DOCTYPE html>
<html lang="en">

  <head>

{% include seo.html %}

    <link rel="icon" href="assets/img/DSAlogo-favicon-100x100.png" sizes="32x32" />
    <link rel="icon" href="assets/img/DSAlogo-favicon-300x300.png" sizes="192x192" />
    <meta name="msapplication-TileImage" content="/img/DSAlogo-favicon-300x300.png" />

    <title>Pitt YDSA | Home</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='//fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="/assets/css/grayscale.css" rel="stylesheet">

  </head>

{{ content }}

</html>
